
.header {
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__link {
    text-decoration: none;
    padding: 0 25px;
    color: #000000;
    font-weight: bold;
  }

  &__link--active {
    text-decoration: underline;
  }
}
